@page "/BackOfficeCreateItem"
@using HttpClients.Implementations
@using Domain.DTOs.Item
@using HttpClients.Interfaces
@using System.Collections
@inject NavigationManager NavigationManager
@inject IItemService ItemService
@inject ITagService TagService
@attribute [Authorize("MustBeAdmin")]

<h3>Create new item</h3>
<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="title" Label="Title" Placeholder="Enter title..." />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="description" Label="Description" Placeholder="Enter description..." />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="priceString" Label="Price" Placeholder="Enter price..." />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField Disabled="true"  @bind-Value="discountPercentageString" Label="Discount Percentage" Placeholder="Enter discount percentage..." />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="manufacturer" Label="Manufacturer" Placeholder="Enter manufacturer..." />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="stockString" Label="Stock" Placeholder="Enter stock..." />
    </MudItem>
</MudGrid>

<div>
    <label>Select Tags:</label>
    <select @bind="selectedTag" class="form-control">
        @if (tags == null)
        {
        }
        else if (!tags.Any())
        {
            <option>No items to display.</option>
        }
        else
        {
            @if (string.IsNullOrEmpty(selectedTag))
            {
                <option value="" disabled selected hidden>-----</option>
            }
            @foreach (var tag in tags)
            {
                <option value="@tag.Id">@tag.TagName</option>
            }
        }
    </select>
    <button class="oi oi-plus" @onclick="AddTag"></button>
    <ul>
        @if (tagIdsForSending != null)
        {
            <Label>Added tags:</Label>
            @foreach (var selectedTagId in tagIdsForSending)
            {
                <li onclick="@(() => RemoveTag(selectedTagId))">@tags.FirstOrDefault(t => t.Id == selectedTagId)?.TagName</li>
            }
        }
    </ul>
</div>

<br />
<br />
<MudButton @onclick="CreateAsync" disabled="@(string.IsNullOrEmpty(title) || string.IsNullOrEmpty(description) || string.IsNullOrEmpty(priceString))" class="acceptbtn">Create</MudButton>
<label style="color: red">@msg</label>

@code {
    string title, description, priceString, manufacturer, stockString;
    string discountPercentageString = "0";
    string msg = "";
    ICollection<Tag> tags;
    List<int> tagIdsForSending = new List<int>();
    ICollection<Tag> displayTags;
    string selectedTag;

    protected override async Task OnInitializedAsync()
    {
        await PopulateTags();
    }

    private async Task CreateAsync()
    {
        var areFieldsValid = !string.IsNullOrEmpty(title) && !string.IsNullOrEmpty(description) &&
                             !string.IsNullOrEmpty(priceString) && !string.IsNullOrEmpty(manufacturer) && !string.IsNullOrEmpty(stockString);
        msg = "";
        if (double.TryParse(priceString, out var price) &&
            double.TryParse(discountPercentageString, out var discountPercentage) &&
            int.TryParse(stockString, out var stock) && areFieldsValid)
        {
            var itemDto = new ItemCreationDto(title, description, price, manufacturer, stock, tagIdsForSending, discountPercentage);
            await ItemService.CreateAsync(itemDto);
            NavigationManager.NavigateTo("/BackOfficeItems");
        }
        else
        {
            msg = "Please insert correct formatting for fields.";
        }
    }

    private void AddTag()
    {
        Console.WriteLine($"Selected tag: {selectedTag}");
        if (!int.TryParse(selectedTag, out var selectedTagId)) return;
        var tagToAdd = tags.FirstOrDefault(t => t.Id == selectedTagId);

        if (tagToAdd == null) return;
        tagIdsForSending.Add(tagToAdd.Id);
        StateHasChanged();
    }

    private void RemoveTag(int id)
    {
        tagIdsForSending.Remove(id);
        StateHasChanged();
    }

    private async Task PopulateTags()
    {
        tags = await TagService.GetTagsAsync(null);
    }
}